*{
	margin: 0px;
	padding: 0px;
}
body{
	overflow: hidden;
}
#loader{
	position: fixed;
	width: 40%;
	height: 30%;
	left: calc(50% - 20%);
	top: calc(50% - 15%);
	border-radius: 15px;
	border: 4px solid #fff;
	background: url('/images/loader_background.png');
}
#loader > div{
	position: absolute;
	width: 50px;
	height: 50px;
	left: calc(50% - 25px);
	top: calc(50% - 75px);
	background: url('/images/loader_image.gif');
	background-size: cover;
}
#loader > h1{
	position: absolute;
	color: #fff;
	font-size: 42px;
	top: calc(50% - 50px);
	width: 100%;
	text-align:center;
}
#loader > p{
	position: absolute;
	color: #fff;
	top: calc(50% + 25px);
	width: 100%;
	text-align:center;
}

#players{
	position:fixed;
	width:10000px;
	height:10000px;
	background: url('/images/main_background.png');
	border: 4px solid #000;
	display: none;
}
#playerlist{
	position: fixed;
	top: 0px;
	left: 40px;
	width: 150px;
	background: rgba(0,0,0,0.6);
	display: none;
}
.playerlistAdd{
	display: none;
}
#playerlist td{
	color: #fff;
	text-align: center;
}
.player{
	position: absolute;
	width: 25px;
	height: 25px;
}
.bubble{
	position: relative;
	background: #000;
	color: #fff;
	top: 25px;
	left: 25px;
	padding: 2px;
	border-radius: 5px;
	font-size: 8px;
	opacity: 0.5;
}
.bubble:hover{
	font-size: 16px;
	opacity: 1;
}