#players{
	background: url('/images/main_background.png');
}
#playerlist td{
	color: #fff;
	text-align: center;
}
.player{
	position: absolute;
	width: 25px;
	height: 25px;
}
.player_normal{
	background: #66FF00;
}
.player_tig{
	background: #FF3300;
}
.player_me{
	background: #000000;
}
.bubble{
	position: relative;
	background: #000;
	color: #fff;
	top: 25px;
	left: 25px;
	padding: 2px;
	border-radius: 5px;
	font-size: 8px;
	opacity: 0.5;
}
.bubble:hover{
	font-size: 16px;
	opacity: 1;
}